.article {
  margin-bottom: 3em;
}

.article-title h1 {
  color: #555;
}

.article-content {
  color: #444;
  font-size: 18px;
  line-height: 1.5;
}

.article-meta {
  color: #666;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 1em;
}

.article-comments-link {
  font-weight: bold;
}

