$main_bg_color: #fff;
$link_color: #36c;

body {
  color: #333;
  background: $main_bg_color;
  margin: 0 auto 2em auto;
}

header {
  width: 100%;
  position: fixed;
  padding-top: 1em;
  background-color: $main_bg_color;
  border-bottom: 1px solid #eee;
}

a {
  color: lighten($link_color, 5);
  font-weight: bold;
}

a:hover {
  color: darken($link_color, 10);
}

.anchor {
  color: inherit;
  text-decoration: none;
}

.clear {
  clear: both;
}

.align-right {
  text-align: right;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2em;
}

.pusher {
  padding-top: 7em;
}

.header-link {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

$menu_link_font_size: 14px;
$menu_link_padding_top: 7px;
$menu_link_padding_right: 13px;
$menu_item_border_size: 3px;

.main-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  min-height: (2 * $menu_link_padding_top) + $menu_link_font_size + (2 * $menu_item_border_size);
}

.menu-item {
  margin: 0;
  padding: 0;
}

.menu-link {
  margin-right: 3px;
  padding: $menu_link_padding_top $menu_link_padding_right;
  font-size: $menu_link_font_size;
  color: #666;
  float: left;
  text-decoration: none;
}

.menu-link:hover {
  color: #111;
  border-bottom: $menu_item_border_size solid #ff6106;
}

.form {
  $ta_padding_side: .5em;
  $ta_border_size: .0625em;
  $right_margin: 2 * ($ta_padding_side + $ta_border_size);

  margin: 0;
  padding: 0;
  margin-right: $right_margin;

  &:last-child {
    margin-bottom: 0;
  }

  input,
  textarea {
    margin-bottom: 1em;
  }

  textarea {
    width: 100%;
    resize: vertical;
    padding: .3em $ta_padding_side;
    min-height: 6em;
    line-height: 1.5;
    border: $ta_border_size solid #999;
    border-radius: 3px;
  }

  .align-right {
    margin-right: -$right_margin;
  }

  // background: #333;
}

.button {
  $bg_color: rgb(250, 250, 250);
  color: #333;
  padding: .3em 1.5em;
  line-height: 1.5;
  font-size: 14px;
  border: 1px solid #eee;
  background: $bg_color;
  border-radius: 5px;

  &:hover {
    background: darken($bg_color, 3);
  }
}

